<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHATTIX</title>
    <script src="/app.js"></script>
    <script src="function.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div id="mainContener" class="all">

        <div class="first">

          <h1> Chattix</h1>

        </div>
         <a href="login.html" class="asign">
             <div id="s1" class="s1"><span class="sign"> Sign in</span></div>
         </a>
        <a href="#" class="anon">
            <div id="s2" class="s2"><span class="con"> Anonim chat</span></div>
        </a>
        <a href="#" class="shop">
            <div id="s3" class="s3"><span class="con"> Shop</span></div>
        </a>

        <a class="btn" onclick="popupToggle();">
            <div id="s4" class="s4"><span class="con"> Contact</span></div>
        </a>

        <div id="chatContener" class= "third">

            <h2>...</h2>
            <img class="pre" alt="loading image..." src="pre.png">
        </div>


    </div>


    <div id="popup">
        <div class="content">
            <img src="notebook.gif" alt="loading...">
            <h2>Contact with us!</h2>
            <p>Input your e-mail bellow and we will give you feedback from us.</p>
            <div class="inputBox1">
                <input type="email" placeholder="E-mail" class="emailfont">
            </div>
            <div class="inputBox1">
                <input type="submit" value="Sign Up" class="btn">
            </div>
        </div>

        <a class="close" onclick="popupToggle();"><img src="close.png" alt="loading..."></a>
    </div>

</body>
</html>