<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chattix - login</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<section>
    <div class="login"></div>
    <div class="login"></div>
    <div class="login"></div>
    <div class="box">
        <div class="square" style="--i:0;">What's up?</div>
        <div class="square" style="--i:1;">Join to us!</div>
        <div class="square" style="--i:2;">Yo!</div>
        <div class="square" style="--i:3;">Hi!</div>
        <div class="square" style="--i:4;">Hello!</div>
        <div class="square" style="--i:5;">Let's chat!</div>
        <div class="container">
        <div class="form">
            <h2>Login to site :)</h2>
            <form>
                <div class="inputBox">
                    <input type="text" placeholder="username">
                </div>
                <div class="inputBox">
                    <input type="password" placeholder="password">
                </div>
                <div class="inputBox">
                    <input type="submit" value="Login">
                </div>
                <p class="forget"> Forgot Password? <a href="#">Click here</a></p>
                <p class="forget"> Create new account <a href="#">Sign up</a></p>

            </form>


        </div>

        </div>
    </div>
</section>

</body>
</html>